* {
  box-sizing: border-box;
}

.cityDetailView {
  position: absolute;
  width: 100vw;
  width: calc(var(--vw, 1vw) * 100);
  /* right: 5vw;
  right: calc(var(--vw, 1vw) * 5); */
  height: 90vh;
  height: calc(var(--vh, 1vh) * 90);
  bottom: 0;
  overflow: scroll;
  background-color: rgba(0, 0, 0);
  color: #ffffff;
  /* padding: 0 16px; */
  display: grid;
  grid-template-rows: 120px 1fr;
  grid-template-columns: 100vw;
}

.cityDetailView_Header {
  display: flex;
  align-items: center;
  width: inherit;
  justify-content: space-between;
  padding: 16px;
}

.cityDetailView_videoList {
  padding: 0 16px 100px 16px;
  width: inherit;
}

@media(min-width: 1024px) {
  .cityDetailView {
    top: 0;
    right: 0;
    height: 100vh;
    width: 500px;
  }
  .cityDetailView_Header {
    width: inherit;
  }
  .cityDetailView_videoList {
    width: inherit;
  }
}

.marker_btn, .close_btn {
  background: none;
  border: none;
  cursor: pointer;
}

.close_btn {
  width: 48px;
  height: 48px;
  position: relative;
}

.close_btn img {
  display: block;
  width: 24px;
  height: 24px;
  margin: 0 auto;
}