.mapLayer {
  width: calc(var(--vw, 1vw) * 100);
  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
}

.cityDetailView {
  position: absolute;
  width: calc(var(--vw, 1vw) * 100);
  height: calc(var(--vh, 1vh) * 90);
  bottom: 0;
  right: 0;
  overflow: scroll;
  background-color: #f8f8f8;
  color: #333;
  display: grid;
  grid-template-rows: 120px 1fr;
  grid-template-columns: 1fr minmax(0, 33em) 1fr;
  z-index: 10;
}

.cityDetailView_Header {
  display: flex;
  align-items: center;
  width: inherit;
  justify-content: space-between;
  padding: 20px;
  grid-column: span 3;
  border-bottom: 1px solid #333;
}

.cityDetailView_videoList {
  padding: 0 20px 100px 20px;
  grid-column: 2;
  /* justify-self: center; */
  max-width: 100%;
  display: inline-block;
}

@media(min-width: 1024px) {
  .cityDetailView {
    top: 0;
    right: 0;
    height: calc(var(--vh, 1vh) * 100);
    width: 30em;
    grid-template-columns: calc(var(--vw, 1vw) * 100);
  }
  .cityDetailView_Header {
    width: inherit;
    grid-column: 1;
  }
  .cityDetailView_videoList {
    width: inherit;
    grid-column: 1;
    justify-self: start;
  }
}

.marker_btn, .close_btn {
  background: none;
  border: none;
  cursor: pointer;
}

.marker_txt {
  background-color: rgba(255, 60, 10, 0.75);
  width: 48px;
  height: 48px;
  line-height: 48px;
  color: #fff;
  font-weight: bold;
  font-size: '1.2em';
}

.close_btn {
  width: 48px;
  height: 48px;
  position: relative;
}

.close_btn img {
  display: block;
  width: 24px;
  height: 24px;
  margin: 0 auto;
}

.linkCard {
  margin-bottom: 2.5em;
  padding-bottom: 1.5em;
  border-bottom: 1px solid #333;
}

.rawLink {
  display: "block";
  margin-bottom: '8px'; 
  color:'#333';
}


.submitFormContainer {
  position: absolute;
  /* top: calc(var(--vh, 1vh) * 100 - 50px); */
  /* bottom: 0; */
  right: 0px;
  width: 100%;
  background-color: #000;
  color: rgba(255, 255, 255, 0.8);
  border-radius: 8px 8px 0 0;
  -moz-box-shadow: rgba(0,0,0,.30) 0 2px 3px;
  -webkit-box-shadow: rgba(0,0,0,.30) 0 2px 3px;
  box-shadow: rgba(0,0,0,.30) 0 2px 3px;
  z-index: 20;
  overflow: hidden;
}

@media(min-width: 1024px) {
  .submitFormContainer {
    width: 380px;
  }
}

.submitFormBody{
  padding: 0 20px 40px 20px;
}

.submitFormContainer form {
  display: grid;
  grid-template-columns: 2.5em 1fr;
  grid-gap: 1em;
  margin: 2em 0 2em 0;
}

.field {
  grid-column: span 2;
  display: grid;
  grid-gap: inherit;
  grid-template-columns: 2.5em 1fr;
  grid-template-columns: subgrid;
  align-items: center;
}

.field input {
  border-radius: 0.5em;
  border: none;
  padding: 1em;
  opacity: 0.9;
  max-width: 50em;
  font-size: 16px;
}

.primary_btn {
  cursor: pointer;
  background-color: #ff3c0a;
  color: rgba(255, 255, 255, 0.90);
  border: none;
  font-weight: bold;
  border-radius: 1em;
  font-size: 14px;
}

.submitFormContainer .submitButton {
  grid-column: 2;
  height: 3.5em;
  max-width: 16em;
}

.sendVideoMessage {
  font-size: 0.9em;
}

.toggleCloseButton {
  display: flex;
  width: 100%;
  height: 50px;
  background-color: #000;
  border: none;
  border-radius: 8px 8px 0 0 ;
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  padding: 5px 20px;
  align-items: center;
}

.toggleCloseButton img{
  margin-right: 0.5em;
}

.toggleCloseButton p {
  font-weight: bold;
  font-size: 1.2em;
}

@media(max-width: 720px) {
  .toggleCloseButton:focus {
    outline: none;
  }
}

.thankYouBody {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center  ;
}

.thankYouBody h1 {
  margin-bottom: 0.1em;
}

.thankYouBody img {
  order: -1;
  height: 12em;
}

.doneButton  {
  width: 10em;
  height: 3em;
  margin-top: 1em;
}

.introScreenContainer {
  width: calc(var(--vw, 1vw) * 100);
  height: calc(var(--vh, 1vh) * 100);
  position: absolute;
  background-color: rgba(0,0,0,0.85);
  color: #fff;
  top: 0;
  left: 0;
  z-index: 30;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 50vw 1fr;
  align-items: center;
  overflow: hidden;
}

.introScreenContent {
  grid-column: 2
}

.introScreenContent button {
  width: 12em;
  height: 3em;
  margin-top: 1em;
}





