* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -ms-box-sizing: border-box !important;
}
*, *::before, *::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -ms-box-sizing: border-box !important;
}

.cityDetailView {
  position: absolute;
  width: calc(var(--vw, 1vw) * 100);
  /* right: 5vw;
  right: calc(var(--vw, 1vw) * 5); */
  height: calc(var(--vh, 1vh) * 90);
  bottom: 0;
  overflow: scroll;
  background-color: rgba(0, 0, 0);
  color: #ffffff;
  display: grid;
  grid-template-rows: 120px 1fr;
  grid-template-columns: 1fr minmax(0, 50em) 1fr;
}

.cityDetailView_Header {
  display: flex;
  align-items: center;
  width: inherit;
  justify-content: space-between;
  padding: 16px;
  grid-column: span 3;
}

.cityDetailView_videoList {
  padding: 0 16px 100px 16px;
  grid-column: 2;
  justify-self: center;
  max-width: 100%;
}

@media(min-width: 1024px) {
  .cityDetailView {
    top: 0;
    right: 0;
    height: calc(var(--vh, 1vh) * 100);
    width: 400px;
    grid-template-columns: calc(var(--vw, 1vw) * 100);
  }
  .cityDetailView_Header {
    width: inherit;
    grid-column: 1;
  }
  .cityDetailView_videoList {
    width: inherit;
    grid-column: 1;
    justify-self: start;
  }
}

.marker_btn, .close_btn {
  background: none;
  border: none;
  cursor: pointer;
}

.close_btn {
  width: 48px;
  height: 48px;
  position: relative;
}

.close_btn img {
  display: block;
  width: 24px;
  height: 24px;
  margin: 0 auto;
}