@font-face {
  font-family: 'Roboto';
  src: url(./fonts/Roboto-Black.ttf) format('truetype');
  font-weight: 900
}
@font-face {
  font-family: 'Roboto';
  src: url(./fonts/Roboto-Regular.ttf) format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Roboto';
  src: url(./fonts/Roboto-Light.ttf) format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: 'Signika';
  src: url(./fonts/Signika-Bold.ttf) format('truetype');
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -ms-box-sizing: border-box !important;
}
*, *::before, *::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -ms-box-sizing: border-box !important;
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: fixed;
  overflow: hidden;
  overscroll-behavior: contain;
  --accent-color-1: #FF5853;
  --base-black-1: #1f2532;
  --base-white-1: #fffcf2;
  --display-font: 'Signika';
  --body-font: 'Roboto';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
